*{

  font-family: "Cardo", serif;
  

}

.App{
  max-width:1920px;
  width:100%;
  margin:auto;
  overflow-x:hidden;
}


h1,h2,h3,h4,h5,h6{

  /* font-family: "Italianno", cursive; */
  
}

p{
  font-family: "Josefin Sans", sans-serif;

}

a{
  text-decoration: none;
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

